.total-container {
  display: flex;
  width: 100%;
}

.menu-area {
  display: flex;
  width: 20%;
  margin-right: 5%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-add,
.button-download {
  font-size: 24px;
}

.button-download {
  background-color: rgb(5, 69, 99);
  margin-top: 42px;
  border: none;
}
