.container-page-a4-to-edit {
  background: white;
  width: 21cm;
  height: 29.7cm;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 16px auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

@media print {
  .container-page-a4-to-edit {
    margin: 0;
    box-shadow: 0;
  }
}
