.container-options-add {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 18px;
  font-size: 26px;
}

.modal-menu-title {
  font-size: 22px;
}

.button-menu {
  width: 220px;
  margin-bottom: 15px;
}
